@mixin link {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.need-button {
  @include link;
  background-color: blue;
}

.give-button {
  @include link;
  background-color: red;
}
